* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #08de25, #fb641b);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
